h1 {
  color: #4B5853;
  font-size: 28px;
  font-weight: 400;
}

.date-range {
  color: #4B5853;
  font-weight: bold;
  font-size: 22px;      
}

.add-goal {
  color: #5A5A5A;
  font-size: 16px;
}

.save-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}