.weekly-goals-modal-container {
  .header {
    color: #4B5853;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    margin: 24px 0;
    .top-row {
      display: flex;
      align-items: center;
      h1 {
        font-size: 28px;
        font-weight: 400;
      }
      .close-button {
        color: #4B5853;
        transform: scale(1.4);
        padding: 0;
        margin-left: auto;
        justify-self: flex-end;
        margin-right: 10px;
      }
    }
    .date-range {
      font-weight: bold;
      font-size: 22px;      
    }
  }
  .goal-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    .goal-item {
      display: flex;
      align-items: center;
      justify-content: center;
      .drag-indicator {
        margin-left: 16px;
      }
      .drag-indicator, .trash-label {
        color: #2dbdb1;
        margin-bottom: 12px;
      }
      fieldset {
        display: flex;
        flex: 1;
        flex-shrink: inherit;
        padding: 0;
        border: none;
        border-radius: 8px;
        .goal-input {
          flex: 1;
          margin-right: 8px;
        }
      }
      input[type=checkbox] {
        display: none;
      }
      .trash-label {
        margin-right: 22px;
      }
    }
  }
  .add-goal {
    color: #5A5A5A;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
  }
  .modified-goals {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
    gap: 14px;
    .save-button {
      background: #2dbdb1;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      height: 42px;
      width: 111px;
      margin-right: 4px;
      &:hover {
        background: #1f9e91;
      }
    }
  }
}