.weekly-goals-modal-container {
  .top-row {
    display: flex;
    align-items: center;
  
    .close-button {
      margin-left: auto;
      margin-right: 16px;
      transform: scale(1.4);
    }
  }
}