@if (waitlistData(); as data) {
  <div class="waiting-container">
    @if ({ loading: loading() }; as state) {
      <!-- Core questions on motivation and desired value -->
      @if (data.currentUser.accessState === AccessState.SUBMIT_INTEREST && !state.loading) {
        <h1>Hello and Welcome!</h1>
        <form #checkForm="ngForm" (ngSubmit)="submitInterest()">
          <div class="form-field-group">
            <mat-label class="question">Which of the following best describe your background and interest in {{ appName }}?</mat-label>
            <div class="checkbox-group" [formGroup]="backgroundSelections">
              <mat-checkbox [formControlName]="option.fieldName" [aria-label]="option.ariaLabel" *ngFor="let option of backgroundAndInterestsOptions">{{ option.label }}</mat-checkbox>
            </div>
          </div>
          @if (backgroundSelections.value.other) {
            <div class="form-field-group" [formGroup]="backgroundSelections">
              <mat-label class="question">How would you describe your background and interest in {{ appName }}?</mat-label>
              <mat-form-field class="background-other" appearance="fill">
                <mat-label>Your background and interest</mat-label>
                <input matInput [(ngModel)]="backgroundOther" name="backgroundOther" required [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          }
          <div class="form-field-group">
            <mat-label class="question">What do you hope to experience or get out of an application for {{ appArea }}?</mat-label>
            <mat-form-field class="desired-value" appearance="fill">
              <mat-label>Your ideal experience or outcomes</mat-label>
              <textarea #text matInput [(ngModel)]="desiredValue" name="desiredValue" required></textarea>
              @if (text.value?.length < 100) {
                <mat-hint>You've shared {{text.value?.length || 0}} characters. If you could say a little more and explain why, that'd be helpful! 🙏</mat-hint>
              }
            </mat-form-field>
          </div>
          <button type="submit" class="btn continue-btn" [disabled]="!checkForm.form.valid">
            Submit and Continue 
            <img src="https://icongr.am/feather/arrow-right.svg?size=20&color=B2B6C7">
          </button>
        </form>
      }
      <!-- Questions to develop a richer understanding of context: goals and needs, barriers, partial solutions, motivators, influencers, environmental context -->
      @if (data.currentUser.accessState === AccessState.SUBMIT_DETAILED && !state.loading) {
        <h1>Help us understand your unique context and needs</h1>
        <form #checkForm2="ngForm" (ngSubmit)="submitDetailed()">
          <div class="form-field-group">
            <mat-label class="question">[Insert some questions that can help develop a richer understanding of context, e.g. around goals and needs, barriers, partial solutions, motivators, influencers, environmental context, etc.]</mat-label>
          </div>
          <button type="submit" class="btn continue-btn" [disabled]="!checkForm2.form.valid">
            Submit and Continue 
            <img src="https://icongr.am/feather/arrow-right.svg?size=20&color=B2B6C7">
          </button>
        </form>
      }
      <!-- Waiting list position and path for going getting access early -->
      @if (data.currentUser.accessState === AccessState.WAITING && !state.loading) {
        @if (positionText$ | async; as position) {
          @if (totalWaiting$ | async; as total) {
            <h1>You are <span class="your-position">{{ position }}</span> of {{ total }} on the waitlist</h1>
            <p>Thanks for signing up! We're hand-reviewing your response and personally onboarding our first 100 users to ensure that we can give you a delightful experience. We'll be in touch soon 😊</p>
            <p>Also, we haven't had the chance to implement a formal referral system yet, but if you would love to get off the waitlist faster and can help us reach others, email {{ outreachLeadName }} at <a [href]="'mailto:' + outreachLeadEmail">{{ outreachLeadEmail }}</a> and let's talk about getting you early access!</p>
          }
        }
      }
      @if (state.loading) {
        <div class="loading-container">
          Submitting... <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner>
        </div>
      }
    }
  </div>
}
