.add-goal-button {
  flex: 1;
  margin-top: 12px;
  cursor: pointer;
  display: flex;
  padding-left: 4px;
  .add-goal {
    color: #5A5A5A;
    font-family: Oxygen, "Helvetica Neue", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
  }
}