<div class="weekly-goals-container">
   <app-weekly-goals-header (editClicked)="openModal($event)" />
   <div class="card-body">
     <div class="goals-list">
       <app-weekly-goals-item
         [goal]="incompleteWeeklyGoals[0]"
         (checked)="checkGoal($event)"
       />
       <app-weekly-goals-item
         [goal]="incompleteWeeklyGoals[1]"
         (checked)="checkGoal($event)"
       />
       <app-weekly-goals-item
         [goal]="completeWeeklyGoals[0]"
         (checked)="checkGoal($event)"
       />
     </div>
     <button class="add-goal">+ Add a weekly goal</button>
   </div>
</div>
 