.navbar-container {
  background: #FFFFFF;
  box-shadow: -4px 0px 4px rgba(200, 224, 212, 0.25);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo {
    cursor: pointer;
    width: 46px;
    height: 46px;
  }
  .user-setting-section {
    display: flex;
    align-items: center;
    .profile-pic {
      border-radius: 50%;
      height: 46px;
      width: 46px;
    }
    .logout {
      cursor: pointer;
    }
  }
}