.weekly-goals-item-container {
  .checkbox {
    cursor: pointer;
  }
  .goal-details {
    .goal-title {
      font-size: 16px;
      color: #5a5a5a;
    }
    .bottom-row {
      .goal-hashtag {
        font-size: 13px;
        color: #ee8b72;
      }
    }
  }
}