div {
  color: orange;
}

// This is an example of simple colors values you can define

h1 {
  color: #FFFF00; // yellow
}

h2 {
  color: rgb(222,184,135); // burlywood
}

h3 {
  color: palevioletred;
}

p {
  color: #ff1493; // deeppink
}

button {
  color: rgb(173,216,230); // lightblue
}

