@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  font-family: Montserrat;
}

.widget {
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #d3e1da;
  border-radius: 10px;
  .header {
    .title {
      font-weight: 600;
      font-size: 22px;
      color: #2dbdb1;
    }

    .date {
      font-weight: 300;
      font-size: 18px;
      color: #2dbdb1;
    }
  }

  .tasks {
    .task {
      .number {
        color: #2dbdb1;
        font-weight: 500;
        font-size: 36px;
      }

      .text {
        color: #5a5a5a;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .edit {
    cursor: pointer;
  }
}
