/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'src/styles/m3-theme.scss';

@include mat.core();

$primary-color: #2DBDB1;

html {
  @include mat.checkbox-theme(m3-theme.$light-theme);
}

html, body, app-root {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow-x: clip;
  margin: 0;
  font-family: Oxygen, "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F2FFFE;
}

/** Since the Angular Material forced the background and border to the same color when checked,
  we need to override the border color to get the outlined look always. */
.mat-mdc-checkbox .mdc-form-field .mdc-checkbox .mdc-checkbox__background {
  border-color: $primary-color !important;
}

.goal-modal-panel {
  width: 100vw;
  height: 100%;
}