@use '@angular/material' as mat;
@use 'src/styles/m3-theme.scss';

@include mat.core();

html {
  // Apply the light theme by default
  // @include mat.core-theme(m3-theme.$light-theme);
  @include mat.checkbox-theme(m3-theme.$light-theme);
  // @include mat.button-theme(m3-theme.$light-theme);
}

html, body, app-root {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow-x: clip;
  margin: 0;
  font-family: Oxygen, "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F2FFFE;
}