.home-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: hidden;
  .goals {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    app-weekly-goals {
      height: 100%;
    }
  }
}
